<br/><hr/>

<b style="display: inline-block; width: 200px;">Enter Name:</b> <input type="text" [(ngModel)]="userName" /><br/><br/>
<b style="display: inline-block; width: 200px;">Enter Id:</b> <input type="text" [(ngModel)]="userId" /><br/><br/>
<b style="display: inline-block; width: 200px;">Enter Avarat:</b> <input type="text" [(ngModel)]="userAvatar" /><br/><br/>
<b style="display: inline-block; width: 200px;">Enter CreateAt:</b> <input type="text" [(ngModel)]="userCreatedAt" /><br/><br/>
<input type="button" value="Add Employee" (click)="addEmployeeNotification()" /><br/><br/><hr/>